project_id = "louvor-serafico"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]

[db]
port = 54322
shadow_port = 54320

[studio]
enabled = true
port = 54323
api_url = "http://localhost:54323/api"

# Email testing
[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326
